<div id="signup-page" class="index-signup index-page hidden">

  <h2 class="signup-page-sub-header">
    Sign Up
  </h2>

  <form>

    <div class="signup-inputs">
      <input type="text" id="signup-input-username" class="index-input"
             placeholder="Username (6-14 chars)" maxlength="14">
      <input type="password" id="signup-input-password" class="index-input"
             placeholder="Password (8-32 chars)" maxlength="32">
      <input type="password" id="signup-input-password-repeat" class="index-input"
             placeholder="Repeat Password" maxlength="32">
    </div>

    <button type="button" id="signup-button" class="index-button signup-button">
      <i class="fa fa-pencil"></i>
    </button>

  </form>

  <div>
    <div id="main-page-link" class="index-page-link signin-page-link">
      Back to Sign In
    </div>
  </div>

</div>