<div id="main-page" class="index-main index-page">

  <form class="index-form login-form">

    <input type="text" id="login-input-username" class="index-input" placeholder="Username" maxlength="14">
    <input type="password" id="login-input-password" class="index-input" placeholder="Password" maxlength="32">

    <button type="button" id="login-button" class="index-button login-button">
      <i class="fa fa-sign-in"></i>
    </button>

  </form>

  <div class="login-signup-message">
    Don't have an account?
    <div id="signup-page-link" class="index-page-link signup-page-link">
      Sign Up
    </div>
  </div>
  <!--
      <ul class="page-links">
        <li id="devdiary-link" class="page-link">Developer Diary</li>
        <li id="terms-link" class="page-link">Terms of Service</li>
        <li id="about-link" class="page-link">About Andy's Chat</li>
        <li id="privacy-link" class="page-link">Privacy Policy</li>
      </ul>
  -->

</div>