<!-- remove devdiary? external link?

<div id="devdiary-container" class="section-container-fade section-container">
</div>

<div id="terms-container" class="section-container-fade section-container">
</div>
<div id="about-container" class="section-container-fade section-container">
</div>
<div id="privacy-container" class="section-container-fade section-container">
</div>
-->