@import './message_area';
@import './user_list';
@import './side_panel';
@import './message_input_bar';
@import './modal_dialogs';
@import './modal_dialog_prefs';

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

.user-icons {
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px 1px;
  cursor: pointer;
}

.chattest-icon {
  cursor: pointer;
  font-size: 1.6rem;
  background-color: #FFF;
  color: #444;
  border-radius: 10%;
  box-shadow: 1px 2px 2px -1px, inset 0 0 1px 0;
  height: 2.2rem;
  width: 2.2rem;
}

.chattest-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.critical-warning-modal {

  color: #FFF;
  text-align: center;
  display: table;

  .critical-warning {
    display: table-cell;
    vertical-align: middle;
    padding: 0 4rem;
  }

}

.user-muter-modal {
  height: calc(100% - 5.1rem);
  cursor: pointer;
}

@media (max-width: $small-screen-cutoff) {

}