.message-input-bar {

  padding: 0.4rem 0;
  box-shadow: 0 3px 10px -3px;
  width: 100%;
  display: table;

  .send-msg-container,
  .send-msg-button-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .send-msg-container {

  }

  .send-msg-button-container {
    width: 3rem;
  }

  .send-msg-button {
    display: inline-block;

    .fa-commenting-o {
      position: relative;
      top: -0.15rem;
    }

  }

  .main-message-input {
    height: 2rem;
    border-radius: 6px;
    font-size: 16px;
    width: calc(100% - 1.2rem);
    margin-left: 0.3rem;
    padding: 0 0.3rem;
  }

  @media (max-width: $medium-screen-cutoff) {

  }


  @media (max-width: $small-screen-cutoff) {


  }

}
