/* Large Screens */

.message-area {

  padding: 0 0 0 1.6rem;
  margin: 1rem 1rem 1rem 1.45rem;
  border-radius: 1%;
  height: calc(100% - 10.2rem);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 4px 6px 13px -4px;
  position: relative;
  text-align: left;

  .user-message {
    margin: 0.5rem 0;
  }

  .user-message-name {
    font-weight: bold;
  }
  .user-message-msg {
    margin: 0 5px;
  }
  .user-message-dt {
    font-style: italic;
    font-size: 10px;
    display: inline-block;
  }

  .referred-to-user {
    color: #FFF;
    font-weight: bold;
  }

}

/* Medium Screens */

@media (max-width: $medium-screen-cutoff) {

}

/* Small Screens */

@media (max-width: $small-screen-cutoff) {

}