.modal-dialog {

  position: fixed;
  font-family: "Roboto", sans-serif;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;

  .dialog {
    position: absolute;
    color: #FFF;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    font-weight: 300;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .modal-title {
    border-radius: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  .modal-button {
    font-family: "Open Sans", sans-serif;
    background-color: #777;
    display: inline-block;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    float: right;
    font-size: 16px;
  }

}