.modal-dialog-prefs {

  height: 23.3rem;
  width: 16rem;

  .pref-holder {
    position: relative;
    height: 2rem;
    width: 10rem;
    border: 1px solid #FFF;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0.25rem 0;
  }

  .pref-holder-pref-name {
    position: absolute;
    width: 100%;
    left: 0;
    top: 13%;
  }

  .preference-options {
    padding: 1rem 0;
  }

  .select-arrow {
    position: relative;
    top: -0.3rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    display: inline-block;
    cursor: pointer;
  }
  .left-select-arrow {
    border-right: 20px solid #FFF;
  }
  .right-select-arrow {
    border-left: 20px solid #FFF;
  }

  .volume-control {

    margin: 0.5rem 0;

    #volume-slider {
      position: relative;
      top: 5px;
    }
    .vol-button {
      cursor: pointer;
    }

  }
  .modal-confirm-prefs-button {

  }

  .modal-footer {
    padding: 0.35rem 0 0;
    border-top: 1px solid #FFF;
    text-align: right;
  }

}