.main-side-panel {

  position: fixed;
  top: 4.1rem;
  left: 0.4rem;
  z-index: 1;

  .side-icon {
    position: relative;
    height: 37px;
    width: 34px;
    margin: 0.5rem 0;
  }
  .side-icon .side-panel-popup {
    display: none;
  }
  .side-icon:hover .side-panel-popup {
    display: block;
  }

  .side-panel-popup {
    position: absolute;
    left: 2rem;
    top: 0.45rem;
    background-color: #444;
    width: 7rem;
    z-index: -1;
    color: #FFF;
    font-size: 15px;
    border-radius: 0 10% 10% 0;
    font-family: "Roboto", sans-serif;
    padding: 0.2rem 0 0.2rem 0.1rem;
  }

}

@media (max-width: $small-screen-cutoff) {

  .side-panel-popup {
    left: 26px;
    top: 6px;
  }

}
