.user-list {

  @include no-select();
  font-weight: 500;
  background-color: #FFF;
  border-style: solid;
  border-width: 0.5rem;
  height: 3.9rem;
  box-shadow: inset 0 0 6px #000, 0 2px 5px #000;
  overflow: auto;
  text-align: left;
  padding: 0.2rem 0.4rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;

  .user-list-name {
    cursor: pointer;
  }

  .user-list-name-muted {
    text-decoration: line-through;
  }

  .current-user-name {
    color: #3C22F5;
  }

  .user-list-name-divider {
    color: #444;
    text-decoration: none;
  }

}

.user-list-user-muter-active {
  color: #F74040;
}

@media (max-height: $small-screen-vertical-cutoff) {

  .user-list {
    display: none;
  }

  .message-area {
    height: calc(100% - 5rem);
  }


}