<!DOCTYPE html>
<html>
<head>

  {{> ../site-page-partials/_common_head }}
  <link rel="stylesheet" type="text/css" href="css/statics.css" media="screen" />

</head>

<body>

  <div class="page-container">
    {{> ../site-page-partials/_site_header }}

    <div class="error-container">
      You seem to already be connected to the chat. You may only have one connection to
      the chat room at any time. You can resume your session on the device/tab/browser
      you just connected from.
    </div>

  </div>

</body>
</html>