<!DOCTYPE html>
<html>
<head>

  {{> ../site-page-partials/_common_head }}
  <link rel="stylesheet" type="text/css" href="css/statics.css" media="screen" />

</head>

<body>

<div class="page-container">
  {{> ../site-page-partials/_site_header }}

  <div class="error-container">
    I'm not sure what page you were lookin' for, but it ain't here.
  </div>

  <a href="/">Back to Index Page</a>

</div>

</body>
</html>