<!DOCTYPE html>
<html>
<head>

  {{> ../site-page-partials/_common_head }}

  <meta name="description" content="Andy's Chat is a free online chatroom
              and chat room community for random strangers who are bored,
              lonely, or who just want to have a chat with new people.">
  <meta name="keywords" content="chat, chat room, lonely, strangers, random, free, online, room">

  <script type="text/javascript" src="js/indexPage.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/statics.css" media="screen" />

</head>

<body>
<div id="index-page-container" class="page-container">

  {{> ../site-page-partials/_site_header }}

  <div id="error-container" class="error-container"></div>

  {{> ../site-page-partials/_index_main }}
  {{> ../site-page-partials/_index_signup }}
  {{> ../site-page-partials/_index_terms }}

</div>
</body>
</html>