<!DOCTYPE html>
<html ng-app="chattestApp">

<!-- Precompiling with mustache uses 3 braces to differentiate from Angular data binding
<!-- {{={{| |}}=}} -->

{{{{raw}}}}

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0
            maximum-scale=1.0, user-scalable=no" />
  <meta charset="UTF-8">
  <meta name="description" content="Chat with random English-speaking people
              from around the world! Andy's Chat is an online chatroom open 24/7 to
              anyone feeling bored or lonely.">
  <meta name="keywords" content="chatroom, randomchat, chat room, random chat, lonely, bored, strangers, chat">

  <title>Andy's Chat | Lobby</title>

  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <script src="js/app.min.js"></script>

</head>

<body ng-controller="mainController as main" class="scheme-strawberry">

<div id="input-toolbar" class="message-input-bar">

  <div class="send-msg-container">
    <!-- Digest called with every keypress?? -->
    <input id="message-input" class="main-message-input" type="text" maxlength="500"
           ng-keypress="main.sendMsg($event);">
  </div>

  <div class="send-msg-button-container">
    <div class="chattest-icon send-msg-button" ng-click="main.sendMsg($event,'click');">
      <i class="fa fa-commenting-o"></i>
    </div>
  </div>

</div>

<div id="message-area" class="message-area">
  <chat-message-area></chat-message-area>
</div>

<!-- START Side Panel -->

<div id="side-panel" class="main-side-panel side-panel-visible side-panel-slide" ng-class="panel_slide">

  <div class="side-icon chattest-icon" ng-click="main.togglePreferences();">
    <i class="fa fa-gears"></i>
    <span id="show-prefs-popup" class="side-panel-popup">Preferences</span>
  </div>

  <div class="side-icon chattest-icon" ng-click="main.activateUserMuter();">
    <i class="fa fa-user-times"></i>
    <span id="show-user-muter" class="side-panel-popup">Mute Users</span>
  </div>

  <a href="/signout">
    <div class="side-icon chattest-icon">
      <i class="fa fa-sign-out"></i>
      <span id="logout-popup" class="side-panel-popup">Sign Out</span>
    </div>
  </a>

</div>

<!-- END Side Panel -->

<!-- START User List -->

<div id="user-list" class="user-list" ng-class="{ 'user-list-user-muter-active': main.userMuter }">
  <span class="user-list-name-container" ng-repeat="username in main.onlineUsers">

    <span class="user-list-name" ng-click="main.handleUsernameClick(username)"
          ng-class="{ 'user-list-name-muted': main.isUserMuted(username),
                      'current-user-name': main.isCurrentUser(username) }">
          {{ username }}
    </span>

    <span class="user-list-name-divider">{{$last ? '' : ' | '}}</span>

  </span>
</div>

<!-- END User List -->

<!-- START Preference Dialog -->

<div id="pref-dialog" class="modal-dialog" ng-show="main.isModalDialogShown">

  <div class="dialog modal-dialog-prefs">

    <div class="modal-title">Preferences</div>

    <div class="preference-options">
      <preference-option ng-repeat="option in main.preferenceOptions"
                         pref="option"></preference-option>
    </div>

    <div class="modal-footer">
      <div class="modal-button modal-confirm-prefs-button"
           ng-click="main.togglePreferences(); main.savePreferences()">Close</div>
    </div>

  </div>

</div>

<!-- END Preference Dialog -->

<!-- START Modals -->

<div class="chattest-modal critical-warning-modal" ng-show="main.criticalWarning">
  <div class="critical-warning">

    {{main.criticalWarning}}

    If you believe this to be an error, please contact
    <a href="mailto:andy@chattest.ca">andy@chattest.ca</a>
    at your earliest convenience or try to refresh the page, or

    <a href="/signout">click here to sign out.</a>

  </div>
</div>

<div class="chattest-modal user-muter-modal" ng-show="main.userMuter" ng-click="main.deactivateUserMuter()"></div>

<!-- END Modals -->

</body>
</html>

<!--{{{{/raw}}}}-->