<div class="preference-option-name">{{pOption.pref.fullName}}</div>

<div class="prefs-options">
  <div class="select-arrow left-select-arrow" ng-click='pOption.pObj.cycleThroughPreference("L")'></div>
  <div class="pref-holder">
    <span class="pref-holder-pref-name">{{pOption.pObj.getCurrentPrefName()}}</span>
  </div>
  <div class="select-arrow right-select-arrow" ng-click='pOption.pObj.cycleThroughPreference("R")'></div>
</div>