<div id="devdiary-info" class="section-info">
<h1>Chattest Development Diary</h1>
<h2>Chattest - The Longer Story (May 11th, 2014)</h2>

<h3>The Chattest Development Diary</h3>
<p>
    I've been working on the chat room for Chattest for a bit over a couple of
    months now, and I thought it was finally time to start a development diary
    of sorts for a number of reasons. First and foremost, I would like to use
    this diary as a tool for people to learn more about what the Chattest
    project is about. I think it would also be nice to be able to look back
    on the sorts of twists and turns the site took to arrive at any particular
    design.
</p>

<h3>So, what <i>exactly</i> is Chattest?</h3>
<p>
    I decided it was best to give a general run-through on the About Us section
    of this page and give the details in a more personal way here. In short,
    Chattest is a growing online community that's centered around a
    <strong>chat room</strong> service.
</p>

<h3>What sort of community does Chattest serve?</h3>
<p>
    The short answer would be: people online who are bored, a bit lonely, or
    just want to connect with a random stranger who may be on the other side of
    the planet. I've pondered a long time about what sort of niche community
    Chattest could be associated with. What I eventually came up with was just
    a chat site that was as inclusive as possible.
</p>

<h3>Why did I make Chattest?</h3>
<p>
    Personally, I've moved a number of times and have had to start fresh making
    new friends in completely new cities. At the very least, I thought, there
    were the people I knew online, who complemented the familiarity of family,
    and friends I had met back home. After repeating this pattern for a while,
    it occurred to me that this was not at all a unique experience. There are
    probably thousands of reasons why people will have trouble connecting with
    new people in their daily lives. Maybe they're too busy, too tired or just
    too shy or introverted. My personal reason for wanting to chat with random
    people online was just one out of those many thousands of possibilities.
</p>
<p>
    No matter the reason, most people still have that desire to communicate
    with others, even if they may be half a world away. That's pretty much
    where I would like Chattest to come into play.
</p>

<h3>What makes Chattest different from similar sites?</h3>
<p>
    I know what you're likely thinking. There are probably dozens of chat
    room services that exist for a similar reason. Indeed there are. I've
    tried quite a number of them. The most popular (today, at least) seem to be
    of the one-on-one video variety. Aside from those, many chats seem to
    focus almost exclusively on, well... let's say "romance" for now.
    Chattest, on the other hand, is more of an open community chat room. I
    intend on making the site grow <i>organically</i>, to fit the needs of the
    user base as it grows.
</p>
<h3>The goal is to make Chattest <i>organic</i></h3>
<p>
    Chattest is an experiment in organic design through <i>user feedback</i>.
    Chattest is currently still small enough to support such an
    open-community, general concept. Eventually it will grow large enough
    to support additional, sub-community chat rooms. <em>In short, new chat
    rooms will be created on an as-needed basis.</em> In my opinion, too many
    chat room services impose topics on their user base, resulting in many
    rooms being completely empty, while others are overly congested.
</p>

<h3>What Chattest isn't</h3>
<p>
    Chattest <i>as a whole</i> doesn't cater to any particular community other
    than, of course, people who just want to have a chat. In the future,
    sub-communities and chatrooms will be created as needed, but the site itself
    will not exist to serve any particular online community. Chattest is <b>not</b>
    in any way associated with a dating service. Chattest is <b>not</b> a video
    chat room. There may in the future be an audio/video component, but only
    if and when it is deemed safe and constructive to the chat room as a whole
    or to any of the sub-communities Chattest may eventually give rise to.
</p>

<h3>What's in it for you?</h3>
<p>
    Aside from creating a project I love, you mean? Well,
    Chattest is supported by minimal ad content. At the time of writing, there
    is a single Google AdSense banner that resizes depending on the size
    of your device. In the future the revenue model will likely change, but for
    now it's just the banner. As an independent developer, I'll ask you to
    please turn off any AdBlockers you may have and/or whitelist Chattest.
</p>

<h3>Above all, have fun!</h3>
<p>
    I've worked very hard for the past couple months to make Chattest as
    inviting and user-friendly as possible. I don't claim it will be possible
    to make it perfect for everyone, but the key is that the user base submits
    feedback to the development team (currently just me!). If there are any
    major compatibility or software issues you'd like to report, or if you
    would love to see a new feature, I welcome you to email me any time at 
    <a href="mailto:andy@chattest.ca">andy@chattest.ca</a>. If your request
    is within reason, I'll look into it as soon as possible. <i>In this way,
    I want to make Chattest better and better for its users.</i>
</p>

<p>
    Thanks for reading! I hope you enjoy using Chattest as much as I had making
    it. And of course, please review the Terms of Service and Privacy Policy
    when you get the chance!
</p>
<p>
    <b>-Andy</b>
</p>
</div>

<span id="devdiary-back" class="page-link">
    Back to Sign In
</span>
<div id="devdiary-footer" class="section-footer">
    Developer Diary
</div>