// Created with https://color.adobe.com/create/color-wheel
$all_color_schemes: (
  strawberry: #FF6469 #BF4B4F #7F3234  #FFF,
  blueberry: #595DD9 #4F52BF #3D3F94 #FFF,
  mango: #FFD349 #FFB01B #FFC714 #FFF,
  grape: #B666DB #8E52AB #834A9E #FFF,
  orange: #FF7813 #EC6B07 #DE5A10 #FFF,
  lime: #7FBB69 #5F874F #3E5C33 #FFF
);

@each $scheme_name, $palette in $all_color_schemes {

  body.scheme-#{$scheme_name} {

    $palette-1: nth($palette, 1);
    $palette-2: nth($palette, 2);
    $palette-3: nth($palette, 3);
    $palette-4: nth($palette, 4);

    /* _chat_room */
    background-color: $palette-2;

    /* _message_area */
    .message-area {
      background-color: $palette-1;
    }

    .user-message-dt {
      color: $palette-4;
    }

    /* _message_input_bar */
    .message-input-bar {
      border-color: $palette-3;
      background-color: $palette-2;
      background: linear-gradient(to bottom, $palette-3 -10%, $palette-2 10%, $palette-2 70%, $palette-3 100%);
    }

    /* _modal_dialogs */
    .modal-dialog {

      .dialog {
        background: $palette-2;
      }

      .modal-title {
        background: $palette-3;
      }

    }

    /* _user_list */
    .user-list {
      border-color: $palette-3;
    }

  }

}