// Font Awesome by Dave Gandy - http://fontawesome.io
@import './font-awesome/scss/font-awesome';

// Google Fonts for Roboto and Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,800italic,800,700italic,600italic,700,400italic,600|Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,100,100italic,300);

@import './global_settings';

body {
  display: table;
  height: 100vh;
  text-align: center;
  margin: auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.page-container {
  display: table-cell;
  vertical-align: middle;
  max-width: 16rem;
  transition: opacity 0.4s;
  opacity: 1;
}

.index-page {

}

.hiding {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.index-main {

}

.error-container {
  color: #ff3c27;
}

.header-main {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.header-sub {

  margin: 1rem 0;

  h4, h5, h6 {
    margin: 0;
    font-weight: 400;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  h6 {
    font-size: 0.7rem;
  }

}

.index-input,
.index-button {
  display: block;
}

.index-input {

  margin: 0.3rem auto;
  padding: 0.4rem;
  height: 1.2rem;
  width: 80%;
  border-radius: 0.3rem;
  border: 1px solid #AAA;

  &:focus {
    outline: none;
    border-color: #CCC;
  }

}

.index-button {

  position: relative;
  margin: auto;
  color: #444;
  height: 3rem;
  width: 3rem;
  font-size: 2.5rem;
  border: solid 1px;
  background-color: #FFF;
  border-radius: 10%;
  cursor: pointer;

  &:hover {
    color: #777;
  }

  i.fa {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 0.2rem;
  }

}


.index-page-link {

  color: blue;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

}


.index-main {

  .login-signup-message {
    display: inline-block;
    font-size: 0.8rem;
  }

  .signup-page-link {
    margin: 0.2rem;
  }

  .login-form {
    margin: 1.5rem 0;
  }

  .login-button {
    margin-top: 1.5rem;
  }

}

.index-signup {

  .signup-page-sub-header {
    margin: 0.5rem 0 1.0rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .signup-button {
    margin: 1rem auto;
  }

  .signin-page-link {

  }

}